/* Default / Reset */
:root{
    --white: #ffffff;
    --black: #000;
    --red: rgb(194, 44, 69);
    --dark: #121416;
    --light-red: #ff6f69;
    --gray: #ddd;
    --light-gray: #ccc;
    --light-blue: #005490;
    --dark-gray: #222831;
    --light-black: #1c2b2d;
    --light: #f8f9fd;
    --blue: #3e57db;
    --yellow-1: #8bc824;
    --orange: #db6400;
    --light-white: #eceff4;
    --fav-color: #8178d1;
    --yellow: #ebc654;
}
body{
    font-family: 'roboto', sans-serif;
    background: var(--white);
}
.html{
    font-size: 10px;
}
input:focus{
    outline: none;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}
.main{
    width: 100%;
    height: 100vh;
}
.container{
    width: 100%;
    max-width: 1700px;
}
.hamburger{
    padding-right: 2em;
    text-align: right;
    width: 100%;
    height: 10vh;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1em 0;
    box-shadow: 2px 2px 1px 1px var(--dark-gray);
}
@keyframes blink{
    0% {
        font-size: 2.5em;
    }
    100% {
font-size: 3em;
    }
}
.hamburger.active{
    display: none;
}
/* .close{
  display: none;
} */
img{
    width: 100%;
}
.nav-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    max-width: 600px;
    z-index: 100;
    height: 100vh;
    margin: 1em 0;
    transition: 1s all ease;
    transform: translate(-100%);
    /* border: 2px solid var(--dark-gray); */
}
.close{
    display: none;
    /* transform: translate(100%); */
}

.nav-link ul{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav-link li{
    list-style: none;
}
.nav-link li a{
    color: var(--dark-gray);
    font-size: 1.5em;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
}
.nav-link.active{
  transform: translate(10%);
   
}
.close.active{
display: block;
text-align: right;
display: block;
color: red;
font-weight: 600;
}
.close__icon{
    animation: blink 2s infinite ease;
}





